html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* Main */
main {
  height: 600px;
  background: rgba(0, 0, 0, 0) url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg")no-repeat scroll center center / cover;
  text-align: center;
  background-size: cover;
}

main .container {
  position: relative;
  top: 100px;
}

main h1 {
  font-size: 150px;
  text-transform: uppercase;
  color: white;
  margin: 0px;
}

main p {
  font-size: 18px;
  color: white;
  margin: 0 0 20px;
}

main a,
footer a {
	text-transform: uppercase;
  text-decoration: none;
  color: white;
}

main .btn,
footer .btn {
	background-color: #1c1c1c;
  padding: 8px 30px;
  font-size: 18px;
  display: inline-block;
}


a.btn:hover {
    background: #ffa800 none repeat scroll 0 0;
    color: #000;
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
  text-align: center;
  padding: 50px 0 80px;
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 14px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg")no-repeat scroll center center / cover;
  height: 600px;
  text-align: center;
}

.feature .container{
  position: relative;
  top: 200px;
}

.feature h1,
.feature h2 {
  color: #fff;
  font-size: 60px;
  margin: 0;
  padding:50px 0 0;
  text-transform: uppercase;
  text-align: center;
}

/* Footer */
footer {
  height: 600px;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg")no-repeat scroll center center / cover;
  text-align: center;
}

footer h1,
footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

footer .container{
  position: relative;
  top: 200px;
}



@media (min-width:600px) {
  main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
    text-align: center;
  }
}